@model ChooseShowtimeViewModel
@{
    ViewData["Title"] = "Chọn suất chiếu cho " + Model.MovieTitle;
}
<link href="~/css/dardmode.css" rel="stylesheet" />
<link href="~/css/lightmode.css" rel="stylesheet" />
<h2>Chọn Suất Chiếu</h2>
<ul>
    @foreach (var s in Model.Showtimes)
    {
        <li>
            @s.StartTime.ToString("dd/MM/yyyy HH:mm")
            (<a asp-controller="Booking"
                asp-action="Index"
                asp-route-movieId="@Model.MovieId"
                asp-route-showtimeId="@s.Id">
                Đặt vé
            </a>)
        </li>
    }
</ul>
<script src="~/js/movie.js"></script>