@{
    ViewData["Title"] = "Đặt vé thành công";
}
<link href="~/css/dardmode.css" rel="stylesheet" />
<link href="~/css/lightmode.css" rel="stylesheet" />
<h2>Đặt vé thành công!</h2>
<p>Cảm ơn bạn đã đặt vé. Chúng tôi đã gửi email xác nhận.</p>

<a href="@Url.Action("Index", "Movie")" class="btn btn-secondary">Quay lại danh sách phim</a>
<script src="~/js/movie.js"></script>