@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Đặt vé thành công";
}
<link href="~/css/darkmode.css" rel="stylesheet" />
<link href="~/css/lightmode.css" rel="stylesheet" />
<h2>@Localizer["Title"]!</h2>
<p>@Localizer["Message"]</p>

<a href="@Url.Action("Index", "Movie")" class="btn btn-secondary">@Localizer["BackToMovies"]</a>
<script src="~/js/movie.js"></script>