<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CineTicket</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CineTicket.styles.css" asp-append-version="true" />
	<link href="~/css/lightmode.css" rel="stylesheet" />
	<link href="~/css/dardmode.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CineTicket</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Xem Phim</a>
                        </li>
                    </ul>
					<partial name="_LoginPartial" />
                    <button id="toggleDarkMode" class="btn btn-dark mode-toggle">
                        <i class="fas fa-moon"></i> Chuyển chế độ
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>CineTicket</h5>
                    <p>Hệ thống đặt vé xem phim trực tuyến hàng đầu Việt Nam</p>
                </div>
                <div class="col-md-4">
                    <h5>Liên kết</h5>
                    <p>
                        <a href="/Home/Privacy" class="text-white">Chính sách bảo mật</a><br>
                        <a href="/Home/About" class="text-white">Về chúng tôi</a><br>
                        <a href="/Home/Contact" class="text-white">Liên hệ</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Kết nối với chúng tôi</h5>
                    <div class="mt-3">
                        <a href="https://www.facebook.com" target="_blank" class="mx-2" aria-label="Facebook">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" class="mx-2" aria-label="Instagram">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank" class="mx-2" aria-label="Twitter">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>

                    </div>
                </div>
            </div>
            <hr>
            <p>&copy; 2025 CineTicket. All rights reserved.</p>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
